
  <div class="container">
    <div class="pdf-upload-container">
      <div class="pdf-header">
        <h1 class="mb-0">SUBIR ARCHIVO PDF</h1>
      </div>
      
      <div class="file-drop-area">
        <div class="upload-icon">
          <i class="bi bi-file-earmark-pdf"></i>
        </div>
        <p class="file-msg">Seleccionar tu archivo PDF aquí </p>
        <input class="form-control e" id="formFileLg" type="file" 
              (change)="onFileSelected($event)" accept="application/pdf"> 
      </div>

      <div class="alert alert-warning mt-3" *ngIf="showMessage">
        <strong>⚠ Atención:</strong> No hay ningún archivo para ver.
      </div>
      <button  type="button" class="btn btn-view-pdf" (click)="openPDF()">
        <i class="bi bi-eye"></i> VER ARCHIVO
      </button>
    </div>
  </div>

